---
layout: layouts/base.njk
title: Mi página
eleventyNavigation:
  key: Blog
  title: Blog
  order: 2
---
<div class="col-12">
  <h1>Puto el que lo lea</h1>
  <p>
    La página de inicio del proyecto.
  </p>
</div>