---
layout: layouts/base.njk
title: Mi página
eleventyNavigation:
  key: Proyectos
  title: Proyectos
  order: 3
---
<div class="col-12">
  <h1>Proyectos</h1>
  <p>
    Aquí van los Proyectos
  </p>
</div>